<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
  <script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
  <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url">
</head>
<body>
  <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
  <script type="module">
  let EmailControl = createClass({
    handleChange(e) {
      let encoded = window.btoa(e.target.value);
      this.props.onChange(encoded);
    },

    render() {
      let value = this.props.value || "";
      let decoded = window.atob(value);

      return h('input', {
        id: this.props.forID,
        className: this.props.classNameWrapper,
        type: 'email',
        value: decoded,
        onChange: this.handleChange,
      });
    },
  });


  CMS.registerWidget('email', EmailControl);
  </script>

</body>
</html>
