{{ define "main" }}
  {{ $wellClass := `mx-auto max-w-screen-md` }}
  <section class="p-8">
    <h1 class="text-3xl sm:text-4xl md:text-6xl text-black font-bold leading-none text-center">
      {{ .Title }}
    </h1>
    <h2 class="mt-4 text-xl leading-tight text-center text-g-7">
      A public service by
      <a href="https://www.spotlightpa.org">
        <svg
          class="inline-block fill-current"
          style="margin-top: -9px; width: 130px; height: 31px;"
        >
          <title>Spotlight PA</title>
          <desc>Spotlight PA logo</desc>
          <use xlink:href="#banner-svg"></use>
        </svg>
      </a>
    </h2>
    <div class="content-area mt-8 mx-auto max-w-screen-md text-center">
      {{ .Content }}
    </div>
  </section>
  <section class="p-8 no-js-hide">
    {{ partial "search.html" . }}
  </section>
  <section class="p-8 flex flex-col sm:flex-row justify-around space-y-4 sm:space-y-0 sm:space-x-4 bg-beige shadow-inner">
    {{ $blkClass := `group relative block w-full sm:w-64 border border-g-5 rounded p-2 bg-white leading-tight shadow-md hover:shadow-lg duration-100 text-center` }}
    {{ $svgWrapperClass := `text-g-5 group-hover:text-yellow` }}
    {{ $hedClass := `font-sans font-bold uppercase group-hover:text-blue duration-100` }}
    {{ $dekClass := `my-1 mx-auto max-w-xs font-sans text-g-7 group-hover:text-darkblue duration-100` }}
    <a
      class="{{ $blkClass }}"
      href="https://docs.google.com/forms/d/e/1FAIpQLSdZx3UnNQaT9dLmWZQ0Ro41hygj7Mn_IvgddJzGF8R3TX50sA/viewform"
    >
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline w-20 h-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
      </div>
      <div class="{{ $hedClass }}">
        Nominate a source
      </div>
      <div class="{{ $dekClass }}">
        Know someone we should list here? Nominate them today.
      </div>
    </a>
    {{ $emailSubject:= `About my Spotlight PA Sources Database entry` }}
    <a
      href="mailto:sources@spotlightpa.org?subject={{ $emailSubject }}"
      class="{{ $blkClass }}"
    >
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline w-20 h-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
        </svg>
      </div>
      <div class="{{ $hedClass }}">
        Update your information
      </div>
      <div class="{{ $dekClass }}">
        Has your information changed? Let us know.
      </div>
    </a>
    <a
      class="{{ $blkClass }}"
      href='{{ site.Param "donate-link" }}'
    >
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline w-20 h-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
        </svg>
      </div>
      <div class="{{ $hedClass }}">
        Support this project
      </div>
      <div class="{{ $dekClass }}">
        Want to see more journalism like this? Become a Spotlight PA member.
      </div>
    </a>
  </section>
  {{ $secHedClass := `text-2xl font-bold leading-tight mb-2` }}
  <section class="p-8">
    <div class="{{ $wellClass }}">
      <h2
        class="{{ $secHedClass }}"
        id="by-expertise"
      >
        Areas of expertise
      </h2>
      {{ $expertise := .GetPage "expertise" }}
      {{ partial "pages-list.html" $expertise }}
    </div>
  </section>
  <section class="p-8 bg-beige shadow-inner">
    <div class="{{ $wellClass }}">
      <h2
        class="{{ $secHedClass }}"
        id="by-location"
      >
        Experts by location
      </h2>
      {{ $loc := .GetPage "location" }}
      {{ partial "pages-list.html" $loc }}
    </div>
  </section>
  <section class="p-8">
    <div class="{{ $wellClass }}">
      <h2
        class="{{ $secHedClass }}"
        id="by-name"
      >
        All experts by last name
      </h2>
      {{ $people := .GetPage "people" }}
      {{ partial "people-by-last-name.html" $people }}
    </div>
  </section>
{{ end }}
