{{ define "main" }}
<main class="p-8 max-w-screen-md">
  <h1 class="font-bold leading-tight break-word">
    <span class="text-2xl text-black">
      {{ .Param "honorific" }}
      {{ .Title }}
    </span>
    {{ with .Param "pronunciation" }}
      <span class="text-base text-g-6">
        ({{ . }})
      </span>
    {{ end }}
  </h1>
  {{ with .Param "role" }}
    <h2 class="text-lg leading-tight break-word">
      {{ . }}
    </h2>
  {{ end }}
  <div class="mt-2 sm:flex sm:flex-wrap max-w-screen-sm text-sm">
    {{ with index (.GetTerms "location") 0 }}
      <p class="sm:w-1/2">
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Location</title>
            <use xlink:href="#earth-svg"></use>
          </svg>
        </span>
        <a
          class="text-blue hover:text-yellow transition-colors duration-500"
          href='{{ .RelPermalink }}'
        >{{ .Title }}</a>
      </p>
    {{ end }}

    {{ with .Param "pronoun" }}
      <p class="sm:w-1/2">
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Preferred pronoun</title>
            <use xlink:href="#user-svg"></use>
          </svg>
        </span>
        <span>{{ . }}</span>
      </p>
    {{ end }}

    {{ with .Param "email" }}
      <p
        class="no-js-hide sm:w-1/2"
        x-data="{ email: atob($el.dataset.email) }"
        data-email='{{ . }}'
      >
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Email address</title>
            <use xlink:href="#email-svg"></use>
          </svg>
        </span>
        <a
          class="text-blue hover:text-yellow transition-colors duration-500"
          :href="'mailto:'+email"
          x-text="email"
        ></a>
      </p>
    {{ end }}

    {{ with .Param "phone" }}
      <p class="sm:w-1/2">
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Telephone number</title>
            <use xlink:href="#phone-svg"></use>
          </svg>
        </span>
        <a
          class="text-blue hover:text-yellow transition-colors duration-500"
          href="tel:{{ . }}"
          x-data="{ tel: spl.formatTel($el.href) }"
          x-text="tel"
        >{{ . }}</a>
      </p>
    {{ end }}

    {{ with .Param "website" }}
      <p class="sm:w-1/2">
        {{ $url := urls.Parse . }}
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Website</title>
            <use xlink:href="#globe-svg"></use>
          </svg>
        </span>
        <a
          class="text-blue hover:text-yellow transition-colors duration-500"
          href="{{ . }}"
          target="_blank"
        >{{ $url.Host }}</a>
      </p>
    {{ end }}

    {{ with .Param "facebook" }}
      <p class="sm:w-1/2">
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Facebook page</title>
            <use xlink:href="#fb-svg"></use>
          </svg>
        </span>
        <a
          class="text-blue hover:text-yellow transition-colors duration-500"
          href="https://www.facebook.com/{{ . }}"
          target="_blank"
        >{{ . }}</a>
      </p>
    {{ end }}

    {{ with .Param "twitter" }}
      <p class="sm:w-1/2">
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Twitter account</title>
            <use xlink:href="#twitter-svg"></use>
          </svg>
        </span>
        <a
          class="text-blue hover:text-yellow transition-colors duration-500"
          href="https://www.twitter.com/{{ . }}"
          target="_blank"
        >@{{ . }}</a>
      </p>
    {{ end }}

    {{ with .Param "instagram" }}
      <p class="sm:w-1/2">
        <span class="mr-5 text-g-6">
          <svg class="inline-block h-4 w-4 align-text-bottom fill-current">
            <title>Instagram account</title>
            <use xlink:href="#instagram-svg"></use>
          </svg>
        </span>
        <a
          class="text-blue hover:text-yellow transition-colors duration-500"
          href="https://www.instagram.com/{{ . }}/"
          target="_blank"
        >@{{ . }}</a>
      </p>
    {{ end }}
  </div>

  <section class="mt-4 max-w-screen-sm content-area">
    <h2 class="sr-only">Biographical information</h2>

    {{ .Param "bio" | markdownify }}
  </section>

  {{ with .Param "images" }}
    {{ with $img := resources.GetMatch (index . 0) }}
      {{ $imgSmall := $img.Resize "200x" }}
      {{ $imgMedium := $img.Resize "400x" }}
      <h2 class="mt-4 text-lg font-bold">Headshot</h2>
      <p>
        <a
          href="{{ $img.RelPermalink }}"
          download
        >
          <img
            title="Click to download"
            class="shadow rounded hover:shadow-lg transition-shadow duration-500"
            alt="Headshot of {{ $.Title }}"
            width="200"
            src="{{ $imgSmall.RelPermalink }}"
            srcset="
              {{ $imgSmall.RelPermalink }} 1x,
              {{ $imgMedium.RelPermalink }} 2x,
            "
          >
        </a>
      </p>
    {{ end }}
  {{ end }}

  <nav class="mt-4 max-w-screen-sm md:flex">
    <div class="md:max-w-md">
      <h2 class="text-lg font-bold">Expertise</h2>
      <p class="text-md">
        {{ range $i, $p := .GetTerms "expertise" }}
          {{- if ne $i 0 }},{{ end }}
          <a
            class="text-blue hover:text-yellow transition-colors duration-500"
            href="{{ $p.RelPermalink }}"
          >
            {{ .Title -}}
          </a>
        {{- end }}
      </p>
    </div>
    <div class="mt-4 md:mt-0 md:ml-4 md:max-w-md">
      <h2 class="text-lg font-bold">Keywords</h2>
      <p class="text-md text-g-9">
        {{ delimit (.Param "keywords") ", " }}
      </p>
    </div>
  </nav>
</main>
{{ end }}
