<footer class="p-12 font-sans bg-black text-white">
  <nav class="flex flex-col space-y-6 md:flex-row md:space-y-0 max-w-screen-xl uppercase">
    <div
      class="-mt-2 flex-grow md:order-last"
    >
      <a
        href="https://www.spotlightpa.org/"
        class="hover:text-yellow"
      >
        <svg
          class="fill-current w-40 h-8"
          role="img"
          aria-label="Spotlight PA banner"
        >
          <use xlink:href="#banner-svg"></use>
        </svg>
      </a>
      <p class="mt-2 leading-tight">
        &copy; {{ now.Format "2006" }} <br>
        Spotlight PA <br>
        225 Market St <br>
        Suite 502A <br>
        Harrisburg PA 17101
      </p>
    </div>
    {{ $context := dict "menu" site.Menus.footer "name" "Spotlight PA" }}
    {{ block "featured-footer" $context }}
      <div class="flex-1">
        <h3 class="font-bold">{{ .name }}</h3>
        <ul class="mt-2">
          {{ range .menu }}
            <li>
              <a
                class="text-blue hover:text-yellow duration-500"
                href="{{ .URL }}"
              >{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ $context = dict "menu" site.Menus.social "name" "Follow Us" }}
    {{ template "featured-footer" $context }}
  </nav>
  <div class="mx-auto max-w-sm">
    <p class="mt-12 text-center leading-snug">
      This project was supported by the
      <a
        class="text-blue hover:text-yellow duration-500"
        href="https://panewsmedia.org/services/foundation-fellows-grants/foundation-fellows-fund-for-the-future/"
      >Pennsylvania NewsMedia Association Foundation Fellows Fund for the Future</a>. If you found it useful
      <a
        class="text-blue hover:text-yellow duration-500"
        href="https://www.spotlightpa.org/contact/"
      >let us know</a>
      and consider
      <a
        class="text-blue hover:text-yellow duration-500"
        href='{{ site.Param "donate-link" }}'
      >becoming a member</a>
      today.
    </p>
  </div>
</footer>
