<header class="bg-black font-sans border-b border-g-5">
  <nav x-data="{ isOpen: false }">
    <div class="max-w-7xl mx-auto px-6">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-center items-stretch justify-start">
          <a
            class="flex-shrink-0 inline-flex text-white hover:text-yellow"
            href="/"
          >
            <svg class="block self-center h-12 w-12 fill-current">
              <title>Home</title>
              <desc>Spotlight PA logo</desc>
              <use xlink:href="#logo-svg"></use>
            </svg>
            <span class="self-center text-xl font-serif uppercase leading-none tracking-tight">
              Sources
            </span>
          </a>
        </div>
      <div
        class="relative flex items-center justify-between h-16"
        @click.away="isOpen = false"
      >
        <div class="absolute inset-y-0 right-0 flex items-center">
          <input class="toggler hidden" type="checkbox" id="x">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-g-1 hover:text-yellow focus:outline-none focus:text-yellow"
            aria-label="Main menu"
            :aria-expanded="String(isOpen)"
            @click="isOpen = !isOpen"
          >
            <!-- Heroicon name: menu -->
            <svg
              x-show="!isOpen"
              class="h-6 w-6 transition"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <desc>Open menu button</desc>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!-- Heroicon name: x -->
            <svg
              x-cloak=1
              x-show="isOpen"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <desc>Close menu button</desc>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>

          <div
            x-show="isOpen"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            x-cloak
            class="absolute inset-y-0 right-0 flex items-center pr-2 static inset-auto ml-6 pr-0"
          >
            <div class="ml-3 relative">
              <div class="origin-top-right absolute right-0 mt-4 w-48 rounded-md shadow-lg">
                <ul
                  class="py-1 rounded-md bg-white shadow-xs"
                  role="menu"
                  aria-orientation="vertical"
                >
                  {{ range site.Menus.main }}
                    <a
                      href="{{ .URL }}"
                      class="block px-4 py-2 text-sm leading-5 text-g-7 hover:bg-g-3 focus:outline-none focus:bg-g-3 transition duration-150 ease-in-out"
                      role="menuitem"
                    >{{ .Name }}</a>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
