<header class="bg-black font-sans">
  <nav>
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <a
            class="flex-shrink-0 inline-flex text-white hover:text-blue"
            href="/"
            title="Home"
          >
            <svg class="block self-center h-12 w-12 fill-current">
              <use xlink:href="#logo-svg"></use>
            </svg>
            <span class="self-center text-xl font-serif uppercase leading-none tracking-tight">
              Sources
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
