<ul class="max-w-screen-lg sm:column-count-2 md:column-count-3">
  {{ $lastLetter := "" }}
  <div class="break-inside-avoid-column">
    {{ range .Pages.ByParam "last" }}
      {{ $lname := .Param "last" | default " " }}
      {{ $initial := slicestr $lname 0 1 }}
      {{ if ne $initial $lastLetter }}
        {{ $lastLetter = $initial }}
        </div>
        <div class="break-inside-avoid-column">
          <h2 class="font-bold text-3xl">{{ $lastLetter }}</h2>
      {{ end }}
      <li>
        <a
          class="text-blue hover:text-yellow duration-500"
          href="{{ .RelPermalink }}"
        >{{ .LinkTitle }}</a>
      </li>
    {{ end }}
  </div>
</ul>
