{{/*
SVGS formatted readably:

"banner-svg" "/img/logos/banner-default-on-trans.svg"
"check-svg" "@fontawesome/solid/check.svg"
"close-svg" "@fontawesome/solid/times.svg"
"earth-svg" "@fontawesome/solid/globe-americas.svg"
"email-svg" "@fontawesome/regular/envelope.svg"
"fb-svg" "@fontawesome/brands/facebook-f.svg"
"globe-svg" "@fontawesome/solid/globe.svg"
"instagram-svg" "@fontawesome/brands/instagram.svg"
"loading-svg" "@fontawesome/solid/spinner.svg"
"logo-svg" "/img/logos/circle-default-on-trans.svg"
"phone-svg" "@fontawesome/solid/phone.svg"
"search-svg" "@fontawesome/solid/search.svg"
"share-svg" "@fontawesome/solid/share.svg"
"tags-svg" "@fontawesome/solid/tags.svg"
"twitter-svg" "@fontawesome/brands/twitter.svg"
"university-svg" "@fontawesome/solid/university.svg"
"user-svg" "@fontawesome/solid/user.svg"
*/}}

{{ $svgs := dict "banner-svg" "/img/logos/banner-default-on-trans.svg" "check-svg" "@fontawesome/solid/check.svg" "close-svg" "@fontawesome/solid/times.svg" "earth-svg" "@fontawesome/solid/globe-americas.svg" "email-svg" "@fontawesome/regular/envelope.svg" "fb-svg" "@fontawesome/brands/facebook-f.svg" "globe-svg" "@fontawesome/solid/globe.svg" "instagram-svg" "@fontawesome/brands/instagram.svg" "loading-svg" "@fontawesome/solid/spinner.svg" "logo-svg" "/img/logos/circle-default-on-trans.svg" "phone-svg" "@fontawesome/solid/phone.svg" "search-svg" "@fontawesome/solid/search.svg" "share-svg" "@fontawesome/solid/share.svg" "tags-svg" "@fontawesome/solid/tags.svg" "twitter-svg" "@fontawesome/brands/twitter.svg" "university-svg" "@fontawesome/solid/university.svg" "user-svg" "@fontawesome/solid/user.svg" }}

<div hidden>
  {{ range $id, $rsc := $svgs }}
    {{ $svg := resources.Get $rsc }}
    <svg id="{{ $id }}">{{ $svg.Content|safeHTML }}</svg>
  {{ end }}
</div>

